<div>
  <div>
    <a class='btn btn-primary' ui-sref="user_create">Create User</a>
  </div>
  <table class='table-striped table-bordered table-hover table-condensed activities-list tablesorter-bootstrap'>
    <thead>
      <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Role</th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Birth</th>
        <th>Created</th>
        <th>Edited</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in collection">
        <td>{{ user.id }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.name }} - {{ user.surname }}</td>
        <td>{{ user.address }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.birth_date | date:'MM-dd-yyyy' }}</td>
        <td>{{ user.createdAt | date:'MM-dd-yyyy' }}</td>
        <td>{{ user.updatedAt | date:'MM-dd-yyyy' }}</td>
        <td>
          <p>
            <a class='btn btn-primary' ui-sref="user_edit({ id: user.id })">Edit</a>
          </p>
          <a class='btn btn-danger' ng-click="destroy(user)">Destroy</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>